body {
    background-color: #1C1C1E;
  }
  .game-details-main {
    display: flex;
    flex-direction: column;
    background-color: #1C1C1E;
  }
  .reset-gamedetail {
      margin-top: 50px;
  }
  .rating-container {
    display: flex;
    flex-direction: column;
  }
  
  .meta {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .metascore-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .meta-text {
    display: flex;
    width: auto;
    padding-right: 2.5em;
    padding-bottom: 1em;
  }
  
  .score-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 2em;
  }
  
  .rating-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .rating-container p {
    color: #AAAAAA;
  }
  
  .ui.disabled.rating {
    margin-right: 2em;
  }
  
  .ui.embed>.icon:before {
    font-size: 4rem;
  }
  
  .ui.large.label.metascore {
    margin-right: 0.5em;
    font-size: 2em;
    background-color: #1C1C1E;
    color: #3AB54A;
    border: solid 0.1em #3AB54A;
    border-radius: 43%;
    ;
  }
  
  .ui.card, .ui.cards>.card .back{
    width: auto;
    background-color: #1C1C1E;
    box-shadow: none;
    -webkit-box-shadow: none;
    display: block;
    position: relative;
    bottom: 2em;
    border-top-right-radius: 10%;
    width: 100%;
  }
  
  .ui.embed>.icon:after {
    background: none;
  }
  
  .ui.header.history-header {
    color:#AAAAAA;
  }
  
  .ui.text.container {
    margin-top: 2em;
  }
  
  .history-text {
    display: block;
    overflow: scroll;
    height: 50vh;
    overflow-x: hidden;
    color: #AAAAAA;
    margin-bottom: 1em;
  }
  
  .ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) .game-title-header{
    font-size: 2em;
    width: 250px;
    margin-top: 0.2em;
  }
  
  .back-page-icon {
    color: white;
    font-size: 2em;
    display: block;
    position: absolute;
    top: 4.2em;
    z-index: 2;
  }
  
  .youtube-video {
    display: block;
    position: relative;
  }
  
  .ui.button.reviews-button {
    border-radius: 1em;
    border: solid 0.2em none;
    background-color: #282828;
    color: white;
  }
  
  .button-container {
    display: flex;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
  }
  
  .header.game-title-header {
    padding: 0 0 0.2em 0
  }
